body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    text-align: center;
    z-index: 10;
}


.menu .logo {
    font-size: 40px;
    color: white;
    margin: 0;
    font-weight: bold;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}


.menu a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.banner {
    display: block;
    width: 100%;
    height: auto;
}